# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Swift Package Manager
.build/

# Project specifics
/Release
ExportOptions.plist
RELEASE_GUIDE.md
dist/
Sparkle/
sparkle_private.key
sparkle.tar.xz

# Release script (local use only)
# release.sh
# package.sh
